.bottom-bar {
	width: 375px;
	height: 52px;
	position: absolute;
	bottom: 0px;
	justify-content: center;
	align-content: center;

 }

.icons img {
	/*color: rgba(0, 0, 255, 1);*/
	height: 30px;
	width: 30px;
}

.inactive {
	color: rgba(255, 255, 255, 1);
		filter: invert(30%);

}

.active {
	color: rgba(255, 255, 255, 1);	
		filter: invert(100%);

}