.user-bar {
	width: 375px;
	/*height: 52px;*/
	position: absolute;
	bottom: 54px;
 }

.top-line {
	position: absolute;
	z-index: 1;
	top: 0px;
} 

.purple-haze {
	/*position: absolute;*/
	z-index: 1;
	background: linear-gradient( #8d4de7, #ff2365);
	
	transform: translate(-50px, 60px) rotate(15deg);
	top: 180px;
	position: absolute;
	height: 160px;
	width: 475px;
	opacity: 0.202;
}

.background-image {
	z-index: -2;
}

.who-are-you {
	margin-left: 15px;
	justify-content: left;
	position: absolute;
	top: 290px;
}

.it-doesnt-matter {
	margin-left: 17px;
	margin-right: -1000px;
	position: absolute;
	top: 418px;
}

.number-76 {
	justify-content: center;
	align-items: center;
	background-color: #fd51d9;
	border-radius: 43%;
	width: 40px;
	height: 30px;
}

.liked-this {
	opacity: 0.6;
}

.back-arrow-circle {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	background-color: rgb(56,57,67, 0.171);				 /* #1a1b25;  rgb(26,27,37, 0.171);	 */
}

.back-arrow-circle img {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}