.user-bar {
	width: 375px;
	/*height: 52px;*/
	position: absolute;
	bottom: 54px;
 }

.top-line {
	position: absolute;
	z-index: 1;
	top: 0px;
}

.purple-haze {
	/*position: absolute;*/
	z-index: 1;
	background: linear-gradient(85deg, #8d4de7, #ff2365);
	top: 180px;
	position: absolute;
	height: 190px;
	width: 375px;
}

.background-image {
	z-index: -2;
}

.who-are-you {
	margin-left: 15px;
	justify-content: left;
	position: absolute;
	top: 290px;
}

.it-doesnt-matter {
	margin-left: 17px;
	margin-right: -1000px;
	position: absolute;
	top: 418px;
}