
.top-line { 
	position: absolute;
	z-index: 1;
	top: 0px;
} 

.back-arrow-circle {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	background-color: rgb(56,57,67, 0.171);				 /* #1a1b25;  rgb(26,27,37, 0.171);	 */
}

.back-arrow-circle img {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.statistics-panel {
	margin-top: 40px;
	margin-bottom: 20px;
}

.months-panel {
	background-color: #060812;	
	height: 54px;
}

.blue-line {
	height: 3px;
	width: 59px;
	background-color: #0B78E3; 
	border-radius: 3px;
	align-items: center;
}



.circle-center {
	background-color: yellow;
	border-radius: 50%;
	color: salmon;
	width: 180px;
	height: 180px;
	position: relative;
	margin: auto;
	top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.food-and-restaurants {
	align-items: center;
	position: relative;
	/*height: 100%;*/
	/*display: block;*/
	margin: auto;
	top: 0;
	bottom: 0;
	/*left: 0;*/
	/*right: 0;*/
}

.fork-icon {
	height: 16px;
	width: 16px;
	color: rgba(255, 255, 255, 1);	
		filter: invert(100%);
	padding-right: 7px;
	margin-top: 2px;

}

.box {
	width: 163px;
	height: 70px;
	border: 0.5px solid;
	/*border-width: 40px;*/
	border-radius: 5px;
	/*border-color: white;*/
	/*opacity: 0.8;*/
	/*background-color: orange;*/
}

.left-box {
	border-color: #0b78e3;
	/*border-width: 40px;*/
	/*stroke: 15px;*/
}

.right-box {
	border-color: #ff2366;

}

.blue-cents-line {
	height: 15px;
	width: 15px;
	color: rgba(255, 255, 255, 1);	
		filter: invert(100%);
}

.dollars-container {
	/*position: relative;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	height: 70px;
	widows: 163px;
}

.food-and-restaurants-text {
	margin-bottom: 40px;
	opacity: 0.6;

}

.dollars {
	/*position: relative;*/
	/*display: inline;*/
	/*margin: auto;*/
	/*top: 80;
	bottom: 0;
	left: 0;
	right: 0;*/
}

.dollar-text {
	position: relative;
	/*display: inline;*/
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cents-and-arrow {
	/*height: 90px;*/
	/*padding-bottom: 10px;*/
	padding-top: 18px;
	margin-left: -26px;
}

.cents-and-arrow-right {
	margin-left: -36px;
}

.blue-cents-line {
	/*height: 100vh;*/
	/*height: 100vw;*/
	height: 20px;
	width: 20px;
	margin-left: -2px;
	margin-top: -1px;
}

.cents-number {
	margin-top: -3px;
}

.text-230 {

}

.circle-chart {
	background-color: 	white;
	position: relative;	
	width: 234px;
	height: 251px;
	margin: auto;
	margin-top: 50px;
}
.sector {
	height: 100px;
	width: 100px;
	border-radius: 100% 0 0  0;	
}

.sector.purple {
	position: absolute;	
	background: 	linear-gradient(#ff2366, #8d4de8);
	top: -14px;
	left: 20px;
	transform: 	rotate(21deg);
}

.sector.blue {
	position: absolute;
	background: 	linear-gradient(#6956ec, #56b2ba);
	top: 38px;
	left: 92px;
	transform: 	rotate(117deg);
	height: 95px;
	width: 115px;
	border-radius: 100% 0 0 0;	
}

.sector.yellow {
	position: absolute;
	background: 	linear-gradient(#fd3f2f, #face15);
	top: 111px;
	left: 52px;
	transform: 	rotate(222deg);
}

.sector.dark-black {
	position: absolute;
	background-color: 	#060812;
	top: 79px;
	left: 2px;
	transform: 	rotate(286deg);
	height: 90px;
	width: 90px;
}

.black-circle-middle {
	position: absolute;
	background-color: 	#161823;
	border-radius: 50% 50% 50% 50%;
	height: 133px;
	width: 133px;
	top: 28px;
	left: 32px;
}